.container {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-4);
}

.resources {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-3);
}

.permissions {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-3);

  padding-top: var(--spacing-2);
}

.actions {
  display: flex;
  justify-content: flex-end;

  margin-top: var(--spacing-6);
}
