.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;

  padding: 0 var(--spacing-6);
}

.left {
  display: flex;
  align-items: center;

  min-width: 0;
}

.title {
  font-size: 20px;
  font-weight: 700;

  color: var(--color-text-primary);
}

.right {
  display: flex;
  align-items: center;

  gap: var(--spacing-4);
}
